
html {
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 5rem;
    margin-bottom: 0.3em;
}

.error_msg {
    color: red;
    font-size: 2rem;
}


.form-wrapper {
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    width: 70%;
    max-width: 600px;
    text-align: center;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}


input {
    margin: 0.5em 0;
    padding: 0.5em;
    font-size: 3rem; 
    background-color: rgba(0, 0, 0, 0.05);
    border: 0;
    border-radius: 0.5em;
    width: 60%;
}

button {
    margin: 0.5em 0; 
    border: 0;
    width: 70%;
    padding: 0.3em;
    background-color: rgba(0, 0, 0, 0.05);
    border: 0;
    border-radius: 0.5em;
    font-size: 3rem;
    box-shadow: 0 0.1em 0.3em rgb(0 0 0 / 20%);
}

button:hover {
    cursor: pointer;
}


@media screen and (max-width: 60em) {
    input {
        font-size: 1.5rem;
    }

    button {
        font-size: 1.5rem;
    }
}
