<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='login_style.css') }}">
    <title>Sign Up Page</title>
</head>
<body>
    <section>
        <h1>Signup Page</h1>
        <div class="form-wrapper">
            <form action="/signup" method="post">
                
                <input type="text" name="email" id="email" class="input" placeholder="Email...">

                <input type="text" name="username" id="username" class="input" placeholder="Username...">

                <input type="text" name="first_name" id="first_name" class="input" placeholder="First Name...">
                
                <input type="text" name="last_name" id="last_name" class="input" placeholder="Last Name...">

                <button type='submit'>Create Account</button>
            
            </form>
        </div>
    </section>
</body>
</html>